html, body, #map {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  z-index: 0;
}

#msg {
  background-color: #fff;
  color: #000;
  width: 300px;
}

a i.fa {
    font-size: 20px;
    -ms-transform: translateY(+15%);
    transform: translateY(+15%);
}
